@import "tailwindcss";

@font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitanOne';
    src: url('/fonts/TitanOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: #000;
}

.titanone-text {
    font-family: 'TitanOne', sans-serif;
    font-size: 14rem; 
    color: white;     
}

@media (min-width: 768px) {
    .titanone-text {
        font-family: 'TitanOne', sans-serif;
        font-size: 18rem; 
        color: white;     
    }
}
  
.notosans-text {
    font-family: 'NotoSans', sans-serif;
    font-size: 1rem;
    color: white;
}

#root {
    margin-inline: auto;
    width: 100%;
    max-width: 24rem;
    background: #EB6E24;
    min-height: 100vh;
}

@media (min-width: 768px) {
    #root {
        max-width: 42rem;
    }
}